/* todo: 
X choose fonts
X choose colours 
make a flex layout and apply.
choose sizes for headlines, fieldsets
! in html file, divvy up fieldsets into sub divs for layout. 
*/

/* it's a survey, so don't overdo the styling. Do it and be done. */
/*
FONTS
font-family: 'Rubik', sans-serif; -->Rubik:400,400i,700 all headers
font-family: 'Roboto Mono', monospace; -->p, text
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}
p,
label,
input {
  font-family: 'Roboto Mono', monospace;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #39303d;
}

#intro,
#form-div {
  padding: 1em;
}
/* INTRO PARA */
#intro {
  background-color: #edf26a;
  line-height: 1.25em;
  margin-bottom: 1em;
}
h1 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0.5em auto;
}
h2 {
  font-size: 1.4em;
  font-weight: 400;
  margin-top: 0.5em;
  margin-right: 0.3em;
}
#description {
  font-family: 'Rubik', sans-serif;
  color: #4e1068;
}

/* FORM */
#form-div {
  background-color: #eeefd0;
}

.humans {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 414px) {
  h1 {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  #intro,
  #form-div {
    margin: 1em 3em;
  }
  #date-fieldset {
    float: right;
  }
  .humans {
    flex-direction: row;
    clear: both;
  }
  #volunteer_info,
  #surrenderer_info {
    margin: 0.5em;
    flex: 1;
  }
  #hound_info {
    margin: 0.5em;
  }
}
@media screen and (min-width: 1024px) {
  #intro,
  #form-div {
    margin: 1em 5em;
  }
}
#volunteer_info,
#surrenderer_info,
#hound_info {
  border: 2px groove #4e1068;
  border-radius: 6px;
  padding-bottom: 1em;
}
#volunteer_info,
#surrenderer_info,
#hound_info {
  display: flex;
  flex-direction: column;
}
#volunteer_info input,
#surrenderer_info input {
  width: 96%;
}
.color-primary-0 {
  color: #39303d;
} /* body */
.color-primary-1 {
  color: #4e1068;
}
.color-primary-2 {
  color: #4c245e;
}
.color-primary-3 {
  color: #211327;
}
.color-primary-4 {
  color: #1d0b24;
}

.color-secondary-1-0 {
  color: #5aa485;
} /* Main Secondary color (1) */
.color-secondary-1-1 {
  color: #a5c9b9;
}
.color-secondary-1-2 {
  color: #85bba4;
}
.color-secondary-1-3 {
  color: #3a916b;
}
.color-secondary-1-4 {
  color: #23855b;
}

.color-secondary-2-0 {
  color: #5b5347;
} /* Main Secondary color (2) */
.color-secondary-2-1 {
  color: #867863;
}
.color-secondary-2-2 {
  color: #766a58;
}
.color-secondary-2-3 {
  color: #716552;
}
.color-secondary-2-4 {
  color: #7b6c54;
}

.color-complement-0 {
  color: #edf26a;
} /* Main Complement color */
.color-complement-1 {
  color: #eeefd0;
} /*form*/
.color-complement-2 {
  color: #fbfdb8;
}
.color-complement-3 {
  color: #eff633;
}
.color-complement-4 {
  color: #f4fd00;
}
