h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}
p,
label,
input,
textarea {
  font-family: 'Roboto Mono', monospace;
}
label {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}
input,
#dropdown,
textarea {
  font-size: 1em;
  padding: 5px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: #39303d;
}

#intro,
#form-div {
  padding: 1em;
}
/* INTRO PARA */
#intro {
  background-color: #edf26a;
  line-height: 1.25em;
  margin-bottom: 1em;
}
h1 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 0.5em auto;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-right: 0.3em;
}
h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 0.3em;
  margin-right: 0.3em;
}
h4 {
  font-size: 1.3em;
  color: #4e1068;
  font-style: italic;
  margin-top: 0.2em;
  margin-right: 0.2em;
}
h5 {
  font-size: 1em;
  color: #4e1068;
  margin-top: 0.2em;
  margin-right: 0.2em;
}
#description {
  font-family: 'Rubik', sans-serif;
  color: #4e1068;
}

/* FORM */
#form-div {
  background-color: #eeefd0;
}

.humans {
  display: flex;
  flex-direction: column;
}
.details {
  display: flex;
  flex-direction: column;
}
.details1 input,
.details2 input {
  margin-bottom: 0.5em;
}
.details1,
.details2 {
  flex: 1;
  margin: 0.5em;
}
.histories {
  margin: 0.5em;
}
textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
#volunteer_info,
#surrenderer_info,
#hound_info {
  border: 2px groove #4e1068;
  border-radius: 6px;
  padding-bottom: 1em;
}
#volunteer_info,
#surrenderer_info,
#hound_info {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}
#volunteer_info input,
#surrenderer_info input,
.input-field,
textarea {
  width: 96%;
}
.sex-age {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5em;
}
.sex {
  margin-right: 1em;
}
#number-label {
  margin-left: 0.3em;
}

#number-label {
  margin-right: 1em;
}
#dropdown {
  background-color: white;
  color: #4e1068;
  font-size: 1em;
  font-family: 'Roboto Mono', monospace;
  border-radius: 0;
  border-width: 0;
}
.races-wins {
  display: flex;
  flex-direction: column;
}
.label-input {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.diseases {
  display: flex;
  flex-direction: column;
}

#submit {
  border: 2px solid #4e1068;
  width: 100%;
  border-radius: 2px;
  background: white;
  color: #39303d;
  font-size: 1.5em;
}
#submit:hover {
  color: #4e1068;
  background-color: #edf26a;
}
@media screen and (min-width: 414px) {
  h1 {
    font-size: 1.9em;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  #intro,
  #form-div {
    margin: 1em 3em;
  }
  #date-fieldset {
    float: right;
  }
  .humans {
    flex-direction: row;
    clear: both;
  }
  #volunteer_info,
  #surrenderer_info {
    margin: 0.5em;
    flex: 1;
  }
  #hound_info {
    margin: 0.5em;
  }
  .races-wins {
    flex-direction: row;
    justify-content: space-between;
  }
  #submit {
    width: fit-content;
  }
}
@media screen and (min-width: 1024px) {
  #intro,
  #form-div {
    margin: 1em 5em;
  }
  .details {
    flex-direction: row;
  }
}
